$font-family: 'Roboto', arial, 'Noto Sans Japanese', sans-serif;

$text-color: #fff;
$text-color-pale: #aaa;
$primary-color: #1ed760;

$bg-color: #191414;
$bg-color-alt: lighten($bg-color, 10%);
$bg-color-accent: #708b7d;

$screen-xs-max: 600px;
$screen-sm-min: 601px;
$screen-sm-max: 900px;
$screen-md-min: 901px;
$screen-md-max: 1200px;
$screen-lg-min: 1201px;
$screen-lg-max: 1500px;
$screen-xl-min: 1501px;

$border-radius: 4px;

$menu-width: 130px;
$menu-height-mobile: 57px;

$player-control-height: 42px;
$player-progress-height: 3px;