.button {
  display: inline-block;
  background-color: $bg-color-alt;
  border: 2px $bg-color-accent solid;
  padding: .5rem 1rem;
  border-radius: $border-radius;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.button-large {
    font-size: 1.5rem;
    padding: .75rem 1.5rem;
  }

  &.button-icon {
    padding: .25rem;

    .material-icons {
      font-size: 2rem;
      display: block;
    }
  }
}