* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: Roboto, sans-serif;
  height: 100%;
}

input, button {
  color: $text-color;
}

a {
  color: $text-color;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#root, .app {
  min-height: 100%;
  display: flex;
}

.app {
  width: 100%;
  padding-bottom: $menu-height-mobile;
  flex-direction: row-reverse;

  &.with-player {
    padding-bottom: $menu-height-mobile + $player-control-height + $player-progress-height;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
}

@media (min-width: $screen-sm-min) {
  .app {
    padding-bottom: 0 !important;
  }
}