.now-playing__logout {
  margin-left: .5rem;
}

.now-playing__control {
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
}

.now-playing__control-inner {
  background-color: $bg-color-alt;
  padding: 1rem;

  &.now-playing__control-inner--with-controls {
    width: calc(100% - 8rem);
  }
}

.now-playing__image-container {
  margin: .5rem auto;
}

.now-playing__playback-control {
  cursor: pointer;

  &.now-playing__playback-control--disabled {
    cursor: default;
    color: $text-color-pale;
  }
}

@media (min-width: $screen-md-min) {
  .now-playing__control-inner {
    padding: 1rem 2rem 1.5rem;
  }
}