.player__window {
  position: fixed;
  right: 0;
  bottom: $menu-height-mobile;
  width: 100%;
}

.player__controls-container {
  background-color: $bg-color-alt;
  padding: .25rem;
  border-bottom: 2px $bg-color-accent solid;
  height: $player-control-height;
  @include clearfix();
}

.player__control {
  float: left;
  width: 2.5rem;

  .material-icons {
    font-size: 2rem;
    cursor: pointer;
    vertical-align: top;
  }
}

.player__track-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player__summary {
  float: left;
  width: calc(100% - 5rem);
}

.player__visibility {
  float: left;
  width: 2.5rem;
  text-align: right;
}

.player__visibility-control {
  cursor: pointer;

  .material-icons {
    font-size: 2rem;
    line-height: 1;
    vertical-align: top;
  }
}

.player__image {
  display: block;
}

.player__controls {
  display: block;
}

.player__progress {
  height: $player-progress-height;
  background-color: white;
  position: relative;
}

.player__progress-active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $primary-color;
}

@media (min-width: $screen-sm-min) {
  .player__window {
    width: 300px;
    bottom: 0;
    box-shadow: 0 0 10px 0 $bg-color-accent;
  }

  .player__summary {
    width: calc(100% - 7rem);
  }

  .player__visibility {
    width: 4.5rem;
  }
}